/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 1920px) {

	/* pagewrap */

	
	section{
		width: 100%;
	}
	.fullscreen fill{
		width: 1920px;
		height: 900px;
	}	
	.textvideo{
		width: 100%;
		padding-top: 5%;
		font-size: 4.3em;
		text-align: left;
		margin-left: 3%;
		opacity: 0.5;
		
	}
	
	