aside p{

	font: 1.5em 'Raleway', sans-serif;
}
.cubo{
	width: 30px;
	height: 30px;
	
	
}

#foto1{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto2{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto3{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto4{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto5{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto6{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto7{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto8{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}#foto9{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto10{
	width: 1500px;
	height: 1000px;

	margin-left: 12%;

}
#foto11{
	width: 700px;
	height: 1050px;
	
	margin-left: 32%;
	margin-top: 50px;
	