aside p{

	font: 1.5em 'Raleway', sans-serif;
}
.cubo{
	width: 30px;
	height: 30px;
	
	
}

aside p{
	
	font: 1.5em 'Raleway', sans-serif;
	
}
.mininav{
	
	margin-left: 72%;

	
}

#foto1{
	width: 900px;
	height: 1050px;

	margin-left: 22%;

}
#foto2{
	width: 900px;
	height: 1050px;
	
	margin-left:22%;

}
#foto3{
	width: 900px;
	height: 1050px;
	
	margin-left: 22%;


}

	

